.container {
  background-color: #f70101;
  color: #333;
  padding: 2rem;
  text-align: center;
}

.button {
  background-color: #0070f3;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  background-color: #005bb5;
}
